<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>oBDS OS-Abgleich</title>
    <link th:href="@{/main.css}" rel="stylesheet" />
</head>
<body class="content">
    <main>
        <h1>ADT_GEKID Abgleich und Konvertierung</h1>
        <p class="abstract">
            Diese Anwendung gleich die enthaltenen Patienten und Meldungen mit der Onkostar-Datenbank ab und konvertiert
            die Inhalte in den <code>oBDS</code>-Datensatz.
        </p>
        <form>
            <label class="file-upload" for="file">
                <span>Click to upload</span>
                <input type="file" id="file" name="file" hx-encoding="multipart/form-data" hx-post="/" hx-target="#responses" hx-swap="innerHTML" />
            </label>
        </form>
        <div id="responses"></div>
    </main>
    <script th:src="@{/main.js}"></script>
</body>
</html>