name: CI

on:
  pull_request:
    branches: [master]
  push:
    branches: [master]
  release:
    types: [created]
  merge_group:
    types:
      - checks_requested
  workflow_dispatch: {}

permissions:
  contents: read

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-24.04
    permissions:
      # to upload release assets
      contents: write
    outputs:
      hashes: ${{ steps.hash.outputs.hashes }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit # change to 'egress-policy: block' after couple of runs
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: Set up JDK
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          java-version: "25"
          distribution: "temurin"

      - uses: gradle/actions/wrapper-validation@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
        with:
          cache-disabled: true

      - name: Build with Gradle
        run: |
          ./gradlew build

      - name: Run Tests
        run: ./gradlew test

      - name: Run Test Coverage
        run: ./gradlew jacocoTestReport

      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: package
          path: |
            app/build/libs/
            lib/build/libs/

      - name: Publish to central
        if: ${{ github.event_name == 'release' && github.event.action == 'created' }}
        run: |
          ./gradlew publish
          ./gradlew publishToMavenCentralPortal
        env:
          OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          OSSRH_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
          SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
          SIGNING_KEY_PASSPHRASE: ${{ secrets.SIGNING_KEY_PASSPHRASE }}

      - name: Generate SLSA subject for release assets
        id: hash
        run: |
          sha256sum app/build/libs/*.jar lib/build/libs/*.jar > checksums.sha256
          echo "hashes=$(base64 -w0 < checksums.sha256)" >> "$GITHUB_OUTPUT"

      - name: upload assets to release
        if: ${{ github.event_name == 'release' && github.event.action == 'created' }}
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          files: |
            app/build/libs/*.jar
            lib/build/libs/*.jar
            checksums.sha256

  provenance:
    name: Generate SLSA Provenance
    if: ${{ github.event_name == 'release' && github.event.action == 'created' }}
    needs:
      - build
    permissions:
      actions: read
      id-token: write
      contents: write
    # can't be referenced by digest. See <https://github.com/slsa-framework/slsa-github-generator#verification-of-provenance>
    uses: slsa-framework/slsa-github-generator/.github/workflows/generator_generic_slsa3.yml@v2.1.0
    with:
      base64-subjects: "${{ needs.build.outputs.hashes }}"
      upload-assets: true

  lint:
    uses: miracum/.github/.github/workflows/standard-lint.yaml@25644e0d4ff70af6ee319e6cb4bd6d2f451882f8 # v1.18.4
    permissions:
      contents: read
      pull-requests: write
      issues: write
      security-events: write
      actions: read
    with:
      enable-validate-gradle-wrapper: true
      codeql-languages: '["java"]'
      java-version: "25"
      enable-codeql: false
      enable-verify-base-image-signature: false
    secrets:
      github-token: ${{ secrets.GITHUB_TOKEN }}
